@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
  --background-dark: #3f3f3f;
  --foreground-dark: #ededed;
}

html[data-theme="light"] {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

html[data-theme="dark"] {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
