@tailwind base;
@tailwind components;
@tailwind utilities;

.interactive {
  fill: #a099ef;
  stroke: white;
}
/* Hover effect for SVG elements */
.interactive:hover {
  cursor: pointer;
  fill: #eae8fc;
  transform: scale(1.01);
  transition: all 0.5s;
  stroke: white;
  stroke-width: 4;
  opacity: 1;
  z-index: 100;
}

/* Selected circle effect */
.selected {
  stroke: white;
  stroke-width: 4;
  opacity: 1;
}

:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
  --background-dark: #3f3f3f;
  --foreground-dark: #ededed;
}

html[data-theme="light"] {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

html[data-theme="dark"] {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-gray-100 dark:bg-gray-800;
}

@layer components {
  .main-content {
    @apply w-full max-w-6xl  main-rounded mx-auto px-5 py-5;
  }
  .card {
    @apply main-rounded shadowed-border;
  }
  .sub-link {
    @apply text-blue-500 text-small;
  }
}

@layer utilities {
  .color-primary {
    @apply dark:bg-gray-500 bg-blue-500 text-white;
  }
  .color-bg-primary {
    @apply bg-white dark:bg-gray-500 text-gray-600 dark:text-gray-200;
  }
  .color-text-primary {
    @apply text-gray-500 dark:text-white;
  }

  .main-rounded {
    @apply rounded-lg;
  }

  .text-small {
    @apply text-xs;
  }
  .text-heading {
    @apply text-base sm:text-lg md:text-2xl color-text-primary
  }
  .text-subheading {
    @apply text-lg font-bold;
  }

  .text-normal-p {
    @apply text-base;
  }

  .shadowed-border {
    @apply border-2 shadow-lg;
  }

  .animate-fade-in {
    @apply animate-[fadeIn_0.5s_ease-in-out];
  }

  .card-hover {
    @apply transition-transform duration-300 hover:scale-105;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-slide-in {
    @apply animate-[slideIn_0.5s_ease-in-out];
  }

  @keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-in-top {
    @apply animate-[slideInTop_0.5s_ease-in-out];
  }
  @keyframes slideInTop {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* Slide In From Left */
  .animate-slide-in-left {
    @apply animate-[slideInLeft_0.5s_ease-in-out];
  }
  @keyframes slideInLeft {
    from {
      transform: translateX(-20px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* Slide In From Right */
  .animate-slide-in-right {
    @apply animate-[slideInRight_0.5s_ease-in-out];
  }
  @keyframes slideInRight {
    from {
      transform: translateX(20px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-staggered-slide-in {
    --delay-step: 0.1s; /* Adjust the step as needed */
  }

  /* Staggered Slide In */
  .animate-staggered-slide-in > * {
    opacity: 0;
    transform: translateY(20px);
    animation: staggeredSlideIn 0.5s ease-in-out forwards;
    animation-delay: calc(var(--delay-step, 0.1s) * (var(--child-index, 0)));
  }

  /* Automatically assign --child-index using nth-child */
  .animate-staggered-slide-in > *:nth-child(n) {
    --child-index: n; /* Automatically set the child index */
  }

  @keyframes staggeredSlideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Bounce Slide In */
  .animate-bounce-slide-in {
    @apply animate-[bounceSlideIn_0.7s_ease-out];
  }
  @keyframes bounceSlideIn {
    0% {
      opacity: 0;
      transform: translateY(20px) scale(0.9);
    }
    70% {
      opacity: 0.7;
      transform: translateY(-10px) scale(1.05);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  /* ========================================= */
}
